<body class="snail">
  <center>
  <div class="logo">
  <%= image_tag("unicoinlatest.png") %>
  </div>
</center>

<center>
  <div class="homepage-login">
    <h1>Login</h1>
<%= form_tag '/login' do %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Login" %>
</div>
<% end %>
</center>
</body>
