<div class="login-background">
  <center>
    <div class="logo" id="slide-in">
      <%= image_tag("unicoinlatest.png") %>
    </div>
  </center>

  <center>
    <div class="homepage-login" id="slide-in-left">
      <h2>Member Login</h2>
      <%= form_tag '/login' do %>

      <div class="field">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, required: true %>
      </div>

      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, required: true %>
      </div>
      <%= submit_tag "Login" %><br><br>
      <%= link_to "Don't have an account? Sign up!", register_path %>
    </div>
    <% end %>
  </center>
  <!-- end of center form for log in -->
</div>
<!-- end of log in background -->

<!-- explanation of services in main page -->
<section id="services" class="services bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 style="color: black">What Does Unicoin Offer?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>A simplified FAFSA application.</strong>
                            </h4>
                            <p>We have translated the complicated language of the Free Application for Federal Student Aid (FAFSA) into common sense, plain English questions that you can answer with confidence. As you answer questions, our smart form eliminates questions you can skip based on your previous responses. At Unicoin, we believe that something as important as applying for financial aid should be clear and easy.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>An automatic tax return reader.</strong>
                            </h4>
                            <p>Unicion utilizes state of the art optical character recognition (OCR) software so that you will never again have to stress out about filling in all of those confusing questions about your taxes. Simply take a picture of your most recent tax returns and upload it into our image uploader. Unicoin visual regonition technology will pick out the data that you need to apply for financial aid and plug it into your application for you.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>A self-writing FAFSA application.</strong>
                            </h4>
                            <p>Unicoin technologies take the responses you give on your simplified FAFSA application, plus the facts and figures from your tax returns, and use a combination of software programs and computer algorithms to generate your completed FAFSA <b>automatically</b>. Once you have finished these two simple steps, you are <b>done</b>! All you have to do is print out your FAFSA and mail it in to the US Department of Education.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Live chat support</strong>
                            </h4>
                            <p>At Unicoin, we understand that many students have unique circumstances that make applying for financial aid particularly stressful and confusing. Or maybe you just need someone to cheer you on and tell you if you're doing it right. Either way, we've got you covered. Unicoin financial aid gurus are on hand 24/7 to answer any questions you may have via our live chat feature. If you are unsure of what to do at any point while using Unicoin, we are only a mouse click away.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- end of explanation of services for main page -->
