<div class="login-background">
  <center>
    <div class="logo" id="slide-in">
      <%= image_tag("unicoinlatest.png") %>
    </div>
  </center>

  <center>
    <div class="homepage-login" id="slide-in-left">
      <h1>Member Login</h1>
      <%= form_tag '/login' do %>

      <div class="field">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, required: true %>
      </div>

      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, required: true %>
      </div>
      <%= submit_tag "Login" %><br><br>
      <%= link_to "Don't have an account? Sign up!", register_path %>
    </div>
    <% end %>
  </center>
  <!-- end of center form for log in -->
</div>
<!-- end of log in background -->

<!-- explanation of services in main page -->
<section id="services" class="services bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-compass fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flask fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shield fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- end of explanation of services for main page -->
