<body class="snail">

<center>
<div class="logo">
<%= image_tag("unicoinlatest.png") %>
</div>
</center>

<center>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="homepage-login">
<h2 style="font-family: American Typewriter; color:black">Create an Account</h2>

<%= render 'form', user: @user %>
<!-- Changed the link tag below. -->
<%= link_to 'Already a member? Log in', login_path %>
</div>
</center>
</body>
