<%= form_for(user_response, url:"image_upload", multipart: true) do |f| %>

      <% if user_response.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
          <% user_response.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :image_upload %>
        <%= f.file_field :image_upload, required: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Submit Image', class: "submit" %>
      </div>

<% end %>
