<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag '//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.8/twilio-ip-messaging.min.js' %>
    <%= csrf_meta_tags %>
    <!-- google fonts cdn -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <meta name="viewport" content="width=device-width">

  </head>

  <body>
    <!-- class="<%# controller.controller_name %>" -->
    <header class='navigation-bar'>
      <div id="custom-bootstrap-menu" class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">

        <div class="container-fluid">

          <div class="navbar-header"><a class="navbar-brand" href="http://localhost:3000/register">Unicoin</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
          </div>
          <!-- navigations bar -->

          <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li><a>Signed in as <%= current_user.name.capitalize %></a></li>
              <li><%= link_to "Logout", logout_path %></li>
              <% else %>
              <li><%= link_to 'Login', login_path %></li>
              <li><%= link_to 'Sign Up', register_path %></li>
              <% end %>
              <li><a href="http://localhost:3000/live_chat" onclick="window.open('http://localhost:3000/live_chat', 'newwindow', 'width=450, height=550'); return false;">Live Chat</a>
              </li>
              <li><a href="http://localhost:3000/faq">FAQ</a>
              </li>
              <li><a href="http://localhost:3000">Home</a>
              </li>
            </ul>
          </div>
          <!-- end of collapse navbar -->
        </div>
        <!-- end of container fluid -->
      </div>
      <!-- added these lines -->

      <% flash.each do |type, message| %>
      <div class="alert alert-danger">
        <button class="close" data-dismiss="alert">×</button>
        <%= message.html_safe %>
      <% end %>
      </div>
      <!-- end of flash alert sign -->

    </header>

    <main class="body-content">

      <%= yield %>

    </main>

  </body>
</html>
